{% extends "skeleton.html" -%}

{% block head %}<title>{% block title %}{{ title }}{% endblock title %}</title>
{% assets "base.css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
{% endblock head -%}

{% macro render_nav_item(endpoint, text) %}<a class="nav{% if request.endpoint == endpoint %} active{% endif %}" href="{{ url_for(endpoint) }}">{{ text }}</a>{% endmacro %}

{% block body %}
    {% block topnav %}<nav id=topnav>
        {{ render_nav_item('index.schedule', 'Schedule') }}
        {{ render_nav_item('index.editor', 'Editor') }}
        {{ render_nav_item('index.profile', 'Profile') }}
        {% if current_user.is_admin %}{{ render_nav_item('admin.index', 'Admin') }}{% endif %}
    {% endblock topnav %}</nav>
    <aside>{% block flashed -%}
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages -%}
        <ul class="flat flash">{% for category, message in messages %}
            <li class="flash {{ category }}">
                <div class=message>{{ message }}</div>
                <div class="dismiss">&times</div>
            </li>
        {% endfor %}</ul>{% endif -%}
        {% endwith -%}
    {% endblock flashed %}</aside>
    <script>
        /* Add dismiss buttons to all flashed messages */
        Array.from(
            document.getElementsByClassName("dismiss")).forEach(
                function(node) {
                    node.addEventListener("click", function() {
                        node.parentElement.style.opacity = "0";
                        setTimeout(function() {
                            node.parentElement.remove();
                        }, 600);
                    });
                }
            );
    </script>
    <main>{% block main %}{% endblock %}</main>
    <script>
    /* update the theme site-wide here */
    const currentTheme = localStorage.getItem("theme");

    if (currentTheme) {
        document.documentElement.setAttribute("data-theme", currentTheme);
    }
    </script>
{% endblock body %}
