{% extends "base.html" %}

{% block head %}
{{ super() }}
{% assets "editor.css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
{% assets 'knockout.js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock head %}

{% block main %}
<div id=editor-wrapper>
    <div>
        <p>TODO</p>
        <ul>
            <li>
                <input id=updatemodel type=checkbox checked disabled>
                <label for=updatemodel>Update model on contenteditable</label>
            </li>
            <li>
                <input id=talkbackend type=checkbox disabled>
                <label for=talkbackend>Talk to backend</label>
            </li>
        </ul>
    </div>
    <h4 data-bind="text: reportDate"></h4>
    <div id=flights-editor>
        <table>
            <thead>
                <tr>
                    <th colspan=17>Flights</th>
                <tr>
                    <th colspan=6></th>
                    <th colspan=5>Origin</th>
                    <th colspan=5>Destination</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Flight</th>
                    <th>Tail</th>
                    <th>Leg</th>
                    <th>Weight</th>
                    <th>Orig.</th>
                    <th>ETD</th>
                    <th>ATD</th>
                    <th>+/-</th>
                    <th>Codes</th>
                    <th>Dest.</th>
                    <th>ETA</th>
                    <th>ATA</th>
                    <th>+/-</th>
                    <th>Codes</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: flights">
                <tr>
                    <th data-bind="text: rowStatus"></th>
                    <td data-bind="contenteditable: type"></td>
                    <td data-bind="contenteditable: flightNumber"></td>
                    <td data-bind="contenteditable: tailNumber"></td>
                    <td data-bind="contenteditable: legNumber"></td>
                    <td data-bind="contenteditable: weight"></td>
                    <td data-bind="contenteditable: origin"></td>
                    <td data-bind="contenteditable: estimatedDeparture"></td>
                    <td data-bind="contenteditable: actualDeparture"></td>
                    <td></td>
                    <td data-bind="contenteditable: departureDelayCodes"></td>
                    <td data-bind="contenteditable: destination"></td>
                    <td data-bind="contenteditable: estimatedArrival"></td>
                    <td data-bind="contenteditable: actualArrival"></td>
                    <td></td>
                    <td data-bind="contenteditable: arrivalDelayCodes"></td>
                    <td data-bind="contenteditable: comment"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>System Detail</h4>
        <textarea cols="80" rows="8" data-bind="value: systemDetail"></textarea>
    </div>
    <div data-bind="with: abxAmazonPeformance">
        <table>
            <thead>
                <tr>
                    <th colspan=4><h4>ABX Amazon Performance</h4></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Percent</th>
                    <th>Lanes</th>
                    <th>Late</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bind="with: todayPerformance">
                    <th class=rowheader>Today's Performance</th>
                    <td data-bind="contenteditable: percent"></td>
                    <td data-bind="contenteditable: lanes"></td>
                    <td data-bind="contenteditable: late"></td>
                </tr>
                <tr data-bind="with: arrivalPerformanceMonthToDateGreaterThan15">
                    <th class=rowheader>Arrival Performance MTD &gt15</th>
                    <td data-bind="contenteditable: percent"></td>
                    <td data-bind="contenteditable: lanes"></td>
                    <td data-bind="contenteditable: late"></td>
                </tr>
                <tr data-bind="with: arrivalPerformanceMonthToDateGreaterThan30">
                    <th class=rowheader>Arrival Performance MTD &gt30</th>
                    <td data-bind="contenteditable: percent"></td>
                    <td data-bind="contenteditable: lanes"></td>
                    <td data-bind="contenteditable: late"></td>
                </tr>
                <tr>
                    <th class=rowheader># days at 100%</th>
                    <td data-bind="contenteditable: daysAt100Percent"></td>
                    <td colspan=2></td>
                </tr>
                <tr>
                    <th class=rowheader>Assumed best arrival perf. for month</th>
                    <td data-bind="contenteditable: assumedBestArrivalPerformanceForMonth"></td>
                    <td colspan=2></td>
                </tr>
                <tr data-bind="with: qtdPerformance">
                    <th class=rowheader>QTD Performance</th>
                    <td data-bind="contenteditable: percent"></td>
                    <td data-bind="contenteditable: lanes"></td>
                    <td data-bind="contenteditable: late"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
</div>
<script>
    ko.bindingHandlers.contenteditable = {
        init: function(element, valueAccessor, allBindings) {
            var value = valueAccessor()
            element.innerHTML = value();
            element.contentEditable = true;
            element.addEventListener("focus", function(event) {
                setTimeout(function() {
                    document.execCommand("selectAll", false, null);
                }, 75);
            });
            element.addEventListener("blur", function(event) {
                /* TODO:
                 * send to backend, process message returned, updating model value
                 */
                value(element.innerHTML);
            });
        }
    };
    var viewModel = {
        /* Amazon Types */
        availableFlightTypes: ko.observableArray(["", "Scheduled", "Extra CMI AMZ", "Extra Non-CMI"]),
        /* DHL types */
        /* availableFlightTypes: ko.observableArray(["Scheduled", "Extra", "Extra CMI", "Extra Non-CMI"]), */
        /* DHL needs inbound/outbound */
        reportDate: ko.observable("2019-05-02"),
        flights: [
            {
                rowStatus: ko.observable(""),
                type: ko.observable("Scheduled"),
                flightNumber: ko.observable("1234"),
                tailNumber: ko.observable("1111AX"),
                legNumber: ko.observable(1),
                weight: ko.observable(33333),
                origin: ko.observable("XXX"),
                estimatedDeparture: ko.observable("0400"),
                actualDeparture: ko.observable("0400"),
                /* calculate difference */
                departureDelayCodes: ko.observable("CRW(36)"),
                destination: ko.observable("YYY"),
                estimatedArrival: ko.observable("0600"),
                actualArrival: ko.observable("0600"),
                arrivalDelayCodes: ko.observable("ATC(36) WTH(7)"),
                comment: ko.observable("COMMENT COMMENT COMMENT"),
            },
            {
                rowStatus: ko.observable("*"),
                type: ko.observable(""),
                flightNumber: ko.observable(null),
                tailNumber: ko.observable(null),
                legNumber: ko.observable(null),
                weight: ko.observable(null),
                origin: ko.observable(null),
                estimatedDeparture: ko.observable(null),
                actualDeparture: ko.observable(null),
                /* calculate difference */
                departureDelayCodes: ko.observable(null),
                destination: ko.observable(null),
                estimatedArrival: ko.observable(null),
                actualArrival: ko.observable(null),
                /* calculate difference */
                arrivalDelayCodes: ko.observable(null),
                comment: ko.observable(null),
            }
        ],
        systemDetail: ko.observable(""),
        /* DHL only */
        aircraftSpares: {
            "1200": ko.observable(1),
            "2000": ko.observable(2),
            "0300": ko.observable(2)
        },
        crewInfo: {
            "1200": ko.observable("full"), /* full crew, cpt only, f/o only, none */
            "2000": ko.observable("full"),
            "0300": ko.observable("full"),
        },
        /* resume somewhat both Amazon and DHL */
        abxAmazonPeformance: {
            todayPerformance: {
                percent: ko.observable(100),
                lanes: ko.observable(12),
                late: ko.observable(0),
            },
            arrivalPerformanceMonthToDateGreaterThan15: {
                percent: ko.observable(98.53),
                lanes: ko.observable(204),
                late: ko.observable(3),
            },
            arrivalPerformanceMonthToDateGreaterThan30: {
                percent: ko.observable(99.51),
                lanes: ko.observable(204),
                late: ko.observable(1),
            },
            daysAt100Percent: ko.observable(14),
            assumedBestArrivalPerformanceForMonth: ko.observable(99.17),
            qtdPerformance: {
                percent: ko.observable(98.53),
                lanes: ko.observable(204),
                late: ko.observable(3),
            }
        }
    };
    ko.applyBindings(viewModel);
</script>
{% endblock main %}
