{% extends "base.html" -%}

{%- from "macros.html" import render_form -%}

{%- block head -%}
{{ super() -}}
<style>
label {
    display: inline-block;
    width: 80px;
}
input[type=text], input[type=password] {
    width: 200px;
    margin: 1rem 0;
    height: 1.5rem;
}
#submit {
    width: 100px;
    height: 1.75rem;
}
main {
    max-width: 400px;
    margin: 0 auto;
}
</style>
{% endblock head -%}

{%- block main %}
<main>
    <h3>{{ title }} Login</h3>
    <form method="POST">
        {{ render_form(form) }}
    </form>
</main>
{% endblock main %}
