{% set button_types = ['SubmitField', 'DeleteField'] %}

{%- macro render_field(field) -%}
    {%- set left, right = (field.label, field) -%}

    {%- set lkwargs, rkwargs = ( {'title': field.description, 'class_': 'checkbox-label'}, field.render_kw if field.render_kw is not none else {} ) -%}

    {%- if field.label.text == '' or field.type in button_types %}{% set left = none %}{% endif -%}

    {# reverse field/label to put checkbox on left #}
    {%- if field.type == "BooleanField" -%}
        {%- set left, right = (right, left) -%}
        {%- set lkwargs, rkwargs = (rkwargs, lkwargs) -%}
    {%- endif -%}

    {% if field.type not in ("HiddenField", "QuilljsDeltaField") %}
    {%- if left is not none %}{{ left(**lkwargs) }}{% endif -%}
    {% endif %}

    {%- if field.errors -%}
        {%- for error in field.errors -%}
            <p class="help-block">{{ error }}</p>
        {%- endfor -%}
    {%- endif -%}

    {%- if right is not none %}{{ right(**rkwargs) }}{% endif -%}
{%- endmacro -%}

{%- macro render_field_group(field) -%}
{%- if field.type not in ('HiddenField', 'CSRFTokenField') -%}
<div class="form-group{% if field.errors %} has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {{ render_field(field) }}
</div>
{%- endif -%}
{%- endmacro -%}


{%- macro render_form(form, action='POST') -%}
<form method="{{ form.meta.method or action }}">
    {{ form.hidden_tag() }}


    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {%- for field in form if field.type not in button_types -%}
        {{- render_field_group(field) -}}
    {%- endfor -%}
    {%- for field in form if field.type in button_types -%}
        {{- render_field(field) -}}
    {%- endfor -%}
</form>
{%- endmacro -%}
