{% extends "base.html" %}

{% block main %}
<h3>Profile</h3>
<div id=toggle-dark-theme>
    <div>
        <label for=theme>Dark Theme</label>
        <input id=theme type=checkbox>
    </div>
    <script>
    const themeToggle = document.getElementById("theme");

    currentTheme = localStorage.getItem("theme");
    if (currentTheme) {
        if (currentTheme === "dark") {
            themeToggle.checked = true;
        }
    }

    themeToggle.addEventListener("change", function(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
        } else {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
        }
    }, false);
    </script>
</div>
<a href="{{ url_for('logout') }}">Logout</a>
<p>TODO</p>
<ul>
    <li>
        <input id=datetimepref type=checkbox disabled>
        <label for=datetimepref>Date/time format preference</label>
    </li>
    <li>
        <input id=themepref type=checkbox checked disabled>
        <label for=themepref>Light/dark theme preference</label>
    </li>
    <li>
        <input id=credentials type=checkbox disabled>
        <label for=credentials>Credentials, login, etc.</label>
    </li>
</ul>
{% endblock main %}
