{% extends "base.html" -%}

{% macro percent(v) %}{{ '%.2f%%' | format(v * 100) }}{% endmacro %}

{% macro time(t) %}{{ t.strftime('%H:%M') }}{% endmacro %}

{% block head %}
{{ super() }}
<style>
main {
    max-width: 1000;
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

th, td, .textfield {
    border: 1px solid #999;
    padding: .2rem .3rem .15rem;
}

th {
    color: #444;
}

.rightalign {
    text-align: right;
}

.leftalign {
    text-align: left;
}
</style>
{% endblock head %}

{% block main %}
<article>
    <h3>ABX / Amazon Report: {{ report.date.strftime('%d-%B-%y') }}</h3>
    <table>
        <thead>
            <tr>
                <th>ABX Amazon Perf.</th>
                <th>Percent</th>
                <th>Lanes</th>
                <th>Lates</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Today's Performance</td>
                <td>{{ percent(report.previous_days_performance_percent) }}</td>
                <td>{{ report.previous_days_performance_lanes }}</td>
                <td>{{ report.previous_days_performance_late }}</td>
            </tr>
            <tr>
                <td>Arrival Performance MTD > 15</td>
                <td>{{ percent(report.arrival_performance_mtd_percent) }}</td>
                <td>{{ report.arrival_performance_mtd_lanes }}</td>
                <td>{{ report.arrival_performance_mtd_late }}</td>
            </tr>
            <tr>
                <td>Arrival Performance MTD > 30</td>
                <td>{{ percent(report.arrival_performance_mtd_30_percent) }}</td>
                <td>{{ report.arrival_performance_mtd_30_lanes }}</td>
                <td>{{ report.arrival_performance_mtd_30_late }}</td>
            </tr>
            <tr>
                <td># days at 100%</td>
                <td>{{ report.days_at_100_percent }}</td>
                <td colspan=2></td>
            </tr>
            <tr>
                <td>Assumed Best Arrival Performance for Month</td>
                <td>{{ report.assumed_best_arrival_performance_for_month_late }}</td>
                <td colspan=2></td>
            </tr>
            <tr>
                <td>QTD Performance</td>
                <td>{{ percent(report.qtd_performance_percent) }}</td>
                <td>{{ report.qtd_performance_lanes }}</td>
                <td>{{ report.qtd_performance_late }}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th colspan=12 class=leftalign>Scheduled</th>
                <th colspan=2>ABX Controllable</th>
                <th></th>
            </tr>
            <tr>
                <th>Tail</th>
                <th>Flight</th>
                <th>Orig</th>
                <th>ETD</th>
                <th>ATD</th>
                <th>(+/-)</th>
                <th>Delay Codes</th>
                <th>Dest</th>
                <th>ETA</th>
                <th>ATA</th>
                <th>(+/-)</th>
                <th>Delay Codes</th>
                <th>> 15</th>
                <th>> 30</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>{% for flight in report.flights %}
            <tr>
                <td>{{ flight.tail_number | upper }}</td>
                <td>{{ flight.flight_number }}</td>
                <td>{{ flight.origin_leg.station.code }}</td>
                <td>{{ time(flight.origin_leg.estimated_time) }}</td>
                <td>{{ time(flight.origin_leg.actual_time) }}</td>
                <td class=rightalign>{{ flight.origin_leg.estimated_actual_minutes() }}</td>
                <td>{{ flight.origin_leg.delay_codes_for_report() }}</td>
                <td>{{ flight.destination_leg.station.code }}</td>
                <td>{{ time(flight.destination_leg.estimated_time) }}</td>
                <td>{{ time(flight.destination_leg.actual_time) }}</td>
                <td class="rightalign">{{ flight.destination_leg.estimated_actual_minutes() }}</td>
                <td>{{ flight.destination_leg.delay_codes_for_report() }}</td>
                <td>TODO</td>
                <td>TODO</td>
                <td>{{ '{:,d}'.format(flight.weight) }}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
    <h3>System Detail</h3>
    <pre class="textfield">{{ report.system_detail }}</pre>
</article>
{% endblock main %}
