:root {
    --bg-color: #fff;
    --font-color: #000;
    --nav-bg-color-active-hover: #326e33;
    --nav-bg-color-active: #4CAF50;
    --nav-bg-color-hover: #000;
    --nav-font-color-active: #eee;
    --nav-font-color-hover: #fff;
    --nav-font-color: #ccc;
    --topnav-bg-color: #444;

    --flash-font-color: #fff;
    --flash-info-bg-color: #2196F3;
    --flash-success-bg-color: #4CAF50;
    --flash-warning-bg-color: #ff9800;
    --flash-error-bg-color: #f44336;

    --dismiss-font-color: #fff;
    --dismiss-hover-font-color: #fff;
}

[data-theme="dark"] {
    --bg-color: #222;
    --font-color: #ccc;
    --nav-bg-color-active-hover: #326e33;
    --nav-bg-color-active: #4CAF50;
    --nav-bg-color-hover: #000;
    --nav-font-color: #ccc;
    --topnav-bg-color: #111;

    /*
    --dismiss-font-color: #666;
    --dismiss-hover-font-color: #fff;
    */
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: arial;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1rem;
}

textarea {
    background-color: var(--bg-color);
    color: var(--font-color);
}

#topnav {
    background-color: var(--topnav-bg-color);
    display: flex;
    justify-content: center;
}

.nav {
    color: var(--nav-font-color);
    padding: .5rem 1rem;
    min-width: 7rem;
    text-align: center;
    text-decoration: none;
}

.nav.active {
    color: var(--nav-font-color-active);
    background-color: var(--nav-bg-color-active);
}

.nav:hover {
    color: var(--nav-font-color-hover);
    background-color: var(--nav-bg-color-hover);
}

.nav.active:hover {
    color: var(--nav-font-color-hover);
    background-color: var(--nav-bg-color-active-hover);
}

ul.flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flash {
    display: flex;
    flex-direction: column;
}

li.flash {
    border-radius: 1rem;
    display: flex;
    margin: .5rem auto;
    opacity: 1;
    padding: 1rem;
    transition: opacity 0.6s;
    width: 50%;
    max-width: 900px;
}

.message {
    color: var(--flash-font-color);
    white-space: pre;
    flex-grow: 1;
}

.info {
    background-color: var(--flash-info-bg-color);
}

.success {
    background-color: var(--flash-success-bg-color);
}

.warning {
    background-color: var(--flash-warning-bg-color);
}

.error {
    background-color: var(--flash-error-bg-color);
}

.dismiss {
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    width: 2rem;
    text-align: right;
    color: var(--dismiss-font-color);
}

.dismiss:hover {
    cursor: pointer;
    color: var(--dismiss-hover-font-color);
    transition: 0.1s;
}
