main {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#editor-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

th, td, textarea {
    border: 1px solid #ccc;
}

th {
    padding: .25rem;
    font-size: .8rem;
}

th.rowheader {
    text-align: left;
}

td[contenteditable=true] {
    padding: .15rem .3rem;
    font-family: monospace;
}
